# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

hs_err_pid*
xcEduService01/xc-framework-parent/target/
xcEduService01/xc-framework-utils/target/
xcEduService01/xc-framework-model/target/
xcEduService01/xc-framework-common/target/
xcEduService01/xc-service-api/target/
xcEduService01/xc-service-manage-cms/target/
xcEduService01/test-freemarker/target/
xcEduService01/xc-service-manage-cms-client/target/
xcEduService01/xc-service-manage-course/target/
xcEduService01/test-fastdfs/target/
xcEduService01/xc-service-base-filesystem/target/
.idea/
xc-framework-parent/.idea/
xcEduService01/xc-govern-center/target/
*.iml

xc-ui-pc-sysmanage/node_modules/
xc-ui-pc-sysmanage/dist/
xc-ui-pc-teach/node_modules/
xc-ui-pc-static-portal/css/
xc-ui-pc-static-portal/plugins/
xc-ui-pc-static-portal/img/

